:root {
    --color1: #cc9bfa;
    --color2: #84399d;
    --color3: #5f1380;
    --color4: #41095b;
    --color5: rgba(235, 211, 248, 0.71);
    --carre: 14.28%;
    --w: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* nice scroll bar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 50px;
}
body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e1dc;
}
.container {
    position: relative;
    width: 1280px;
    min-height: 750px;
    margin: 0 auto;
    padding: 8px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #373c4f;
}
.left {
    width: 65%;
    /*padding: 10px 5px 10px 10px;*/
}
.right {
    position: relative;
    border-radius: 4px;
    width: 100%;

    padding:  0;
}
