/.vscode/
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
webfonts/fa-brands-400.ttf
webfonts/fa-brands-400.woff2
webfonts/fa-regular-400.ttf
webfonts/fa-regular-400.woff2
webfonts/fa-solid-900.ttf
webfonts/fa-solid-900.woff2
webfonts/fa-v4compatibility.ttf
webfonts/fa-v4compatibility.woff2
.idea/jsLibraryMappings.xml
serie.zip
serie.js
test.php
pcalendar.js
package-lock.json
.idea/jsLibraryMappings.xml
.idea/jsLibraryMappings.xml
